@model Nhom6_QLHoSoTuyenDung.Models.ThongKeTuyenDung

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ThongKeTuyenDung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ViTriId" class="control-label"></label>
                <select asp-for="ViTriId" class="form-control" asp-items="ViewBag.ViTriId"></select>
                <span asp-validation-for="ViTriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongUngVien" class="control-label"></label>
                <input asp-for="SoLuongUngVien" class="form-control" />
                <span asp-validation-for="SoLuongUngVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDat" class="control-label"></label>
                <input asp-for="SoLuongDat" class="form-control" />
                <span asp-validation-for="SoLuongDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTruot" class="control-label"></label>
                <input asp-for="SoLuongTruot" class="form-control" />
                <span asp-validation-for="SoLuongTruot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianThongKe" class="control-label"></label>
                <input asp-for="ThoiGianThongKe" class="form-control" />
                <span asp-validation-for="ThoiGianThongKe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
